@import url("https://fonts.googleapis.com/css?family=Public+Sans8");

html{
    font-size: 62.5%;
    height: 100%;
    background-color: #96fdf8;

}

/*Fuentes*/
body { 
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    font-family: " Public Sans", sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}

/*Globales*/
.contenedor{ 
    max-width: 120rem;
    margin: 0 auto;
}

.img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4{
    font-size: 2rem;
}

/*utilidades*/
.seccion {
    margin-top: 2rem;/*creamos separacion*/
    margin-bottom: 2rem;
}
.fw-300 {
    font-weight: 300;
}
.centrar-texto {
    text-align: center;
}

.d-block {
    display: block!important;
}

/*botones*/
.boton {
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
}

.boton-amarrillo {
    background-color:darkorange;
}

.boton-verde {
    background-color: rgb(20, 85, 52);
}

/*header*/
.site-header.inicio{
    background: url(../imagenes/fondo.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}

.contenido-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header h1 {
    color: rgba(0, 0, 225, 1);
    text-align:center;
    padding-bottom: 9rem; /*Espacio*/
    line-height: 1; /*Inter lineado*/
}
.barra {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem; /*dar un espacio en la parte de arriba del logo*/
    align-items: center; /*Alinea de el centro*/
}

/*navegacion*/
.navegacion a {
    color: rgba(0, 0, 225, 1);
    text-decoration: none; /*Eliminamos la linea*/
    font-size: 1.8rem; /*Tamaño de la letra*/
    margin-right: 2rem; /*Separa los elementos*/
}
.navegacion a:hover {
    color: #dc143c;
}

/*iconos nosotros*/
.iconos-nosotros {
    display: flex;
    justify-content: space-between;
}

.iconos {
    flex-basis: calc(33.3% - 1rem);
    text-align: center;
}

.iconos h3 {
    text-transform: uppercase; /*texto en mayuscula  #aaa099  #bbe1ee  */
}
.contenedor-anuncios {
    display: flex;
    text-align: center;
}
.contenido-anunc {
    display: flex;
    text-align: center;
}

.anuncio {
    flex-basis: calc(33.3% - 1rem);
    border-style:solid;
    border-width: 12px;
    border-color: #96fdf8;
    background-color: white;
}

.contenido-anuncio {
    padding: 2rem;
}

.contenido-anuncio h3, 
.contenido-anuncio p {
    margin: 0;
}

.ver-todas {
    display: flex;
    justify-content: center;
}

/*concto home*/
.imagen-contacto {
    background: url(../imagenes/contacto.png);
    background-position: center center;
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
}

.contenido-contacto {
    flex: 1;
    color: rgba(0, 0, 225, 1);
}

.contenido-contacto p {
    font-size: 1.8rem;
}

/*seccion inferios*/
.seccion-inferior {
    display: flex;
    justify-content: space-between;
}

.seccion-inferior
.blog { 
    flex-basis: calc(40% - 2rem);
}

.seccion-inferior 
.testimoniales { 
    flex-basis: calc(40% - 2rem);
}

.entrada-blog {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.entrada-blog 
.imagen {
    flex-basis: 40%;
}

.entrada-blog 
.texto-entrada {
    flex-basis: calc(60% - 3rem);
}

.texto-entrada a {
    color: rgba(0, 0, 225, 1);
    text-decoration: none;
}

.texto-entrada h4 {
    margin: 0;
    line-height: 1.2;
}

.texto-entrada h4::after {
    content: '';
    display: block;
    width: 8rem;
    height: .5rem;
    background-color: rgba(0, 0, 225, 1);
    margin-top: 1rem;
}

.texto-entrada span {
    color:#dc143c;
}

/*testimoniales*/
.testimonial {
    background-color: rgb(146, 146, 245);
    font-size: 2.5rem;
    padding: 2rem;
    color: white;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.testimonial p {

    text-align: right;
}

.testimonial blockquote::before {
    content: '';
    background-image: url(../imagenes/comilla.svg);
    width: 5rem;
    height: 5rem;
    position: absolute;
    left: -2rem;
}
.testimonial blockquote {
    position: relative;
    padding-left: 5rem;
    font-weight: 300;
}

/*footer*/
.site-footer {
    background-color: #a7e0eb;
    margin: 0;
}
.contenedor-footer {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
}
.copyright{
    margin: 0;
}

/*MAQUETACION*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 

 
 .grid-container > * { 
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
 }
 
 .header {
    grid-area: header;
    background-color: rgb(67, 243, 141);
 }
 
 .navbar {
    grid-area: navbar;
    background-color: rgb(67, 243, 141);
 }
 
 .sidebar {
    grid-area: sidebar;
    background-color: rgb(67, 243, 141); 
 }
 
 .main {
    grid-area: main;
    background-color: rgb(178, 235, 235);
 }
 
 .footer {
    grid-area: footer;
    background-color: rgb(67, 243, 141);
 }
 
 .grid-container{
    display: grid;
    gap: 10px;
    grid-template: 
       "header" 100px
       "navbar" 50px
       "main"   auto
       "sidebar" 100px
       "footer"  100px;
 }
 
 @media (min-width: 600px){
    .grid-container{
       grid-template: 
          "header header" 100px
          "navbar navbar" 50px
          "sidebar main" auto
          "footer footer" 100px /
          200px   auto;
    }
 }
 
 @media (min-width: 900px){
    .grid-container{
       grid-template: 
          "header header header" 100px
          "navbar main sidebar" auto
          "footer footer footer" 100px /
          200px   auto  200px;
    }
 }
 